body {
    color: #fff;
    /* Set the color of the blurred text */
    text-shadow:
        0 0 5px rgba(255, 255, 255, 0.5),
        0 0 5px rgba(255, 255, 255, 0.5);
    font-family: 'AgainstRegular';
}

@font-face {
    font-family: 'AgainstRegular';
    src: local('against regular'),
        url('./fonts/against regular.otf') format('opentype'),
        url('./fonts/against regular.ttf') format('truetype');
}

@font-face {
    font-family: 'OpenSansHebrew';
    src: local('OpenSansHebrew-Regular'),
        url('./fonts/OpenSansHebrew-Regular.ttf') format('truetype');
}

p {
    font-family: 'OpenSansHebrew';
    letter-spacing: 0.155em;
    font-size: min(3.5vw, 1.2rem);
}

a {
    text-decoration: none;
    color: #fff;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
    font-family: 'AgainstRegular';
}

h1 {
    font-weight: 100;
    font-size: min(7vw, 3.5rem);
}

h2 {
    text-shadow:
        0 0 5px rgba(255, 255, 255, 0.5),
        0 0 5px rgba(255, 255, 255, 0.5);
    font-weight: 100;
    font-size: min(5vw, 2rem);
}

h3 {
    font-weight: 100;
}

h4 {
    font-weight: 100;
}

.ellipse {
    position: fixed;
    width: 80%;
    height: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background: rgb(64, 64, 64);
    border-radius: 50%;
    filter: blur(300px);
    z-index: -1;
}
