body {
    color: #fff;
    /* Set the color of the blurred text */
    text-shadow:
        0 0 10px rgba(255, 255, 255, 0.5),
        0 0 5px rgba(255, 255, 255, 0.5);
    font-family: 'AgainstRegular';
}

@font-face {
    font-family: 'AgainstRegular';
    src: local('against regular'),
        url('./fonts/against regular.otf') format('opentype'),
        url('./fonts/against regular.ttf') format('truetype');
}

@font-face {
    font-family: 'OpenSansHebrew';
    src: local('OpenSansHebrew-Light'),
        url('./fonts/OpenSansHebrew-Light.ttf') format('truetype');
}

p {
    font-family: 'OpenSansHebrew';
    letter-spacing: 0.155em;
    font-size: min(4.5vw, 32px);
    text-shadow:
        0 0 10px rgba(255, 255, 255, 0.5),
        0 0 5px rgba(255, 255, 255, 0.5);
}

a {
    text-decoration: none;
    color: #fff;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
    font-family: 'AgainstRegular';
}

h1 {
    font-weight: 100;
    font-size: min(7vw, 69px);
}

h2 {
    text-shadow:
        0 0 5px rgba(255, 255, 255, 0.5),
        0 0 5px rgba(255, 255, 255, 0.5);
    font-weight: 100;
    font-size: min(5vw, 60px);
}

h3 {
    font-weight: 100;
}

h4 {
    font-weight: 100;
}

.ellipse {
    position: fixed;
    width: 80vw;
    height: 80vh;
    transform: translate(-40vw, -40vh);
    top: 50vh;
    left: 50vw;
    background: rgb(75, 75, 75);
    border-radius: 50%;
    filter: blur(min(30vw, 300px));
    z-index: -1;
}
