.img {
  width: max(7vw, 60px);
}

.discordButton {
  justify-content: center;
  background-color: transparent;
  cursor: pointer;
  margin: 0;
  padding: 0;
  border: none;
}

.button {
  margin: auto;
  transition: all 0.3s ease-in-out;
  filter: drop-shadow(0 0 0.25rem white);
}

.button:hover {
  filter: drop-shadow(0 0 0.5rem white);
  scale: 1.1;
}

.container {
  display: flex;
  margin-bottom: 20px;
  margin-top: 5%;
}
